<mat-tab-group mat-align-tabs="start" [disablePagination]="true">
  <mat-tab label="Hearts ♥">
    <div id="card-flex">
      <div class="card-outer" *ngFor="let card of heartCard">
        <div
          class="card"
          [style.background-image]="card.url"
          (click)="selectCard(card)"
        ></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Spade ♠">
    <div id="card-flex">
      <div class="card-outer" *ngFor="let card of spadeCard">
        <div
          class="card"
          [style.background-image]="card.url"
          (click)="selectCard(card)"
        ></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Club ♣">
    <div id="card-flex">
      <div class="card-outer" *ngFor="let card of clubCard">
        <div
          class="card"
          [style.background-image]="card.url"
          (click)="selectCard(card)"
        ></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Diamond ♦">
    <div id="card-flex">
      <div class="card-outer" *ngFor="let card of diamondCard">
        <div
          class="card"
          [style.background-image]="card.url"
          (click)="selectCard(card)"
        ></div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
