<h2>Tabel round: {{ getRound() }}</h2>
<div *ngIf="checkUser(); then us"></div>
<ng-template #us>
  <div class="panel">
    <mat-card *ngIf="handCateory">
      <mat-card-header>Hand Category</mat-card-header>
      <mat-card-content
        ><p>{{ handCateory | json }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="decision">
      <mat-card-header>Decision</mat-card-header>
      <mat-card-content
        ><p>{{ decision | json }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="handCombination">
      <mat-card-header>Hand Combination</mat-card-header>
      <mat-card-content
        ><p>{{ handCombination | json }}</p>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button color="accent" (click)="getResult()">
      Result
    </button>
  </div>
</ng-template>
<div *ngIf="checkFreshSelection(); then freshRound; else notFreshRound"></div>
<ng-template #freshRound>
  <div class="panel">
    <button mat-raised-button color="accent" (click)="check()">Check</button>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Bet Amount</mat-label>
      <input matInput placeholder="Amount" #betAmount />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Amount you want Bet.</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="bet(betAmount.value)">
      Bet
    </button>
  </div>
</ng-template>
<ng-template #notFreshRound>
  <div class="panel">
    <button mat-raised-button color="accent" (click)="call()">Call</button>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Raise Amount</mat-label>
      <input matInput placeholder="Amount" #raiseAmount />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Amount you want Raise.</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="raise(raiseAmount.value)">
      Raise
    </button>
    <button mat-raised-button color="warn" (click)="fold()">Fold</button>
  </div>
</ng-template>
