<div class="grid-container">
  <h1 class="mat-h1">Lobby</h1>
  <mat-grid-list cols="6" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngIf="card.title === 'Game Engine'">
            <button mat-raised-button color="accent" [routerLink]="'/l-holdem'">
              Limited Holdem
            </button>
          </ng-container>
          <ng-container *ngIf="card.title === 'User Information'">
            <div class="border-sub">
              <h3 style="color: red">Subscription Inactive</h3>
              <button mat-raised-button color="accent" (click)="checkout()">
                Subscribe
              </button>
            </div>
            <button
              class="but-wi"
              mat-raised-button
              color="primary"
              [routerLink]="'/success'"
            >
              Transction Complete Page
            </button>
            <button
              class="but-wi"
              mat-raised-button
              color="warn"
              [routerLink]="'/cancel'"
            >
              Transction Cancel Page
            </button>
          </ng-container>

          <ng-container *ngIf="card.title === 'News'">
            <h2>New updates.</h2>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
