<div
  tabindex="-1"
  #cardInput
  (click)="setfocus()"
  class="card-add"
  [class.drop-down-input-active]="(showCardSelectionPanel$ | async)!"
  cdkOverlayOrigin
  #originOverlay="cdkOverlayOrigin"
>
  <div>
    <mat-icon>add</mat-icon>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayScrollStrategy]="scrollStratagy"
  [cdkConnectedOverlayPositions]="positions"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="originOverlay"
  [cdkConnectedOverlayOpen]="(showCardSelectionPanel$ | async)!"
>
  <pofri-card-selection-window></pofri-card-selection-window>
</ng-template>
