<h2>BOARD CARDS</h2>
<div class="card-box">
  <pofri-add-card
    (selctedCard)="boardCardSelection(0, $event)"
  ></pofri-add-card>
  <pofri-add-card
    (selctedCard)="boardCardSelection(1, $event)"
  ></pofri-add-card>
  <pofri-add-card
    (selctedCard)="boardCardSelection(2, $event)"
  ></pofri-add-card>
  <pofri-add-card
    (selctedCard)="boardCardSelection(3, $event)"
  ></pofri-add-card>
  <pofri-add-card
    (selctedCard)="boardCardSelection(4, $event)"
  ></pofri-add-card>
</div>
<h2>USER CARDS</h2>
<div class="card-box">
  <pofri-add-card (selctedCard)="userCardSelection(0, $event)"></pofri-add-card>
  <pofri-add-card (selctedCard)="userCardSelection(1, $event)"></pofri-add-card>
</div>
