<form [formGroup]="gameInfoForm" (ngSubmit)="saveGameInfo()">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content>
    <p>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Profile Name</mat-label>
        <input matInput formControlName="profileName" placeholder="Name" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Name for the game profile.</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Website Name</mat-label>
        <input matInput formControlName="websiteName" placeholder="Name" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>The Website used to play game.</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Table Seats</mat-label>
        <input matInput formControlName="tableSeats" placeholder="Number" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Total Players in the table.</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Ante</mat-label>
        <input matInput formControlName="anteAmount" placeholder="Amount" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Minimum amount to put, in each round.</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Small Bet</mat-label>
        <input matInput formControlName="smallBet" placeholder="Amount" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Small Blind amount</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Big Bet</mat-label>
        <input matInput formControlName="bigBet" placeholder="Amount" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Big Blind amount</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button color="success">Save</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="'closed'">
      Cancel
    </button>
  </div>
</form>
