.mat-success {
    background-color: rgb(11, 216, 11);
    color: #fff;
}

.mat-mdc-form-field{
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    width: 35%;
    margin: 1%;
}

.action{
  display: flex;
  align-items: center;
  justify-content: center;
}