mat-sidenav-container{
    height: 100%;
    max-width: 71rem;
    margin-left: auto;
    margin-right: auto;
}


mat-sidenav-content{
    display: flex;
    flex-direction: column;
}

.fill-container{
    flex-grow: 1;
}