<form [formGroup]="userDetails" (ngSubmit)="saveUserInfo()">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content>
    <h4>Player Seat Position</h4>
    <p>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Your Seat Position</mat-label>
        <input
          matInput
          formControlName="userPosition"
          placeholder="Number 1-9"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Your place in the table, counting from small blind.</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button id="green" (click)="saveUserInfo()">Save</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  </div>
</form>
