    
.dashboard-card-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
  }

  mat-grid-tile div{
    display: flex;
    align-items: flex-start !important;
  }

mat-card{
    height: 98%;
    width: 98%;
  }

  pofri-poker-table{
    margin: 50px 50px 50px 50px !important;
  }
  

  