<h2 class="mat-h2">No-Limit Holdem</h2>
<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let card of cards | async"
    [colspan]="card.cols"
    [rowspan]="card.rows"
  >
    <mat-card *ngIf="card.title == 'Game Engine'">
      <mat-card-header>
        <mat-card-title> Poker Table </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <pofri-poker-table
          [tabelPlayers]="players$"
          [totalPlayersCount]="playersCount$"
        ></pofri-poker-table>
      </mat-card-content>
    </mat-card>
    <!-- <mat-card *ngIf="card.title == 'Card 2'">
          <mat-card-header>
            <mat-card-title> Card Board </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <pofri-player-card-input-panel></pofri-player-card-input-panel>
          </mat-card-content>
        </mat-card> -->
    <mat-card *ngIf="card.title == 'Card 3'">
      <mat-card-header>
        <mat-card-title> User Actions </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pofri-player-input-panel></pofri-player-input-panel>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
