  @use "sass:math";

  $size-table: clamp(20rem, 80vw, 34rem);
  $sixe-player-box: 5em;

    /// @param {Integer} $item-count - Number of items on the circle
    /// @param {Length} $circle-size - Large circle size
    /// @param {Length} $item-size - Single item size
    @mixin on-circle($item-count, $circle-size, $item-size) {  
      position: relative;
      width:  $circle-size;
      height: $circle-size;
      border-radius: 50%;
      padding: 0; 
      list-style: none;
      grid-area: 1 / 1;
      
      > * {
        display: block;
        position: absolute;
        top:  50%; 
        left: 50%;
        margin: -(calc($item-size/ 2));
        width:  $item-size;
        height: $item-size;
      
        $angle: calc(360/ $item-count);
        $rot: 90;
    
        @for $i from 1 through $item-count {
          &:nth-of-type(#{$i}) {
            transform: rotate($rot * 1deg) translate(calc($circle-size / 2)) rotate($rot * -1deg);
          }
    
          $rot: $rot + $angle;
        }
      }
    }

    @mixin circle-outline{
      margin: 0em 0 0 0;
      border: solid 1px #ffee10;
      box-shadow: 0 0 5px #ffee10;
      background-color: rgb(13, 134, 13);
    }
    
    .circle-container9 {
      @include on-circle($item-count: 9, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .circle-container8 {
      @include on-circle($item-count: 8, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .circle-container7 {
      @include on-circle($item-count: 7, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .circle-container6 {
      @include on-circle($item-count: 6, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .circle-container5 {
      @include on-circle($item-count: 5, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .circle-container4 {
      @include on-circle($item-count: 4, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .circle-container3 {
      @include on-circle($item-count: 3, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .circle-container2 {
      @include on-circle($item-count: 2, $circle-size: $size-table, $item-size: $sixe-player-box); 
      @include circle-outline();
    }

    .card-center{
      display: flex;
      justify-content: center;
      padding-bottom: 5rem;
      grid-area: 1 / 1;
    }

    .card-center2{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      padding-bottom: 5rem;
      grid-area: 1/1;
    }

    .container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      width: 100%;
      height: 100%;

      place-items: center;
    }

