.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    mat-form-field{
        margin: 2px;
        width: 90%;
    }
    

    .button-inline{
        display: flex;
        flex-direction: row;
        
        width: 100%;
        justify-content: space-around;

        button{
            margin: 2px;
            min-height: 3rem;
            flex-basis: 100px;
            flex-grow: 1;
        }
    }
}

.container-round-info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0 1rem 0;

    .element-info{
        margin: 0px 2px 0 2px;
        flex-basis: 100px;
        min-height: 4rem;
        flex-grow: 1;
        border: thin inset #ffee10;
        border-radius: 4rem;

        .header-info{
            padding: .25rem;
            font-size: large;
            font-weight: bold;
            text-align: center;
        }
        .content-info{
            padding: .25rem;
            text-align: center;
        }

    }
}
